/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* -------ここから本文------ */

header h1{
	margin: 0;
	font-size: 30px;
	padding: 20px;
    background: #ffe5e9;
    background: linear-gradient(to bottom, #fff, #ffc0cb);
                -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ffc0cb));
                -moz-linear-gradient(top, #fff, #ffc0cb);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFffffff', endColorstr='#FFffc0cb');
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffc0cb',GradientType=0 );
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}


body{

	margin:0;/*外側への余白*/
	padding:0;/*内側への余白*/
	font-size:15px;/*文字の大きさ*/

}

#wrap{

	width:800px;/*横幅*/
	margin:0 auto;/*全体を中央配置*/

}

p {
	display: inline;
}

.error{
	color: #FF0000;
}

#errortext{
	display: block;
	position: relative;
	color: #FF0000;
	width:560px;/*横幅*/
	left: 220px;/*左からの相対位置*/
}

#text{
	display: block;
	position: relative;
	width:560px;/*横幅*/
	left: 220px;/*左からの相対位置*/
}

.form {

	overflow: hidden;
	padding: 5px;
	border-style: dotted ;
	border-width: 2px;
	border-top: 1px dotted;
	border-color: #F5A9E1;
	font-size: 15px;
	margin-top: -1px;
	border-radius: 7px;

}

.tag{
	display: inline-block;
	position: relative;
	padding: 5px;
	font-size: 15px;
	width: 200px;
}

#qa{
	display: inline-block;
	position: relative;
	padding: 5px;
	font-size: 15px;
	width: 200px;
	top: -55px;
}


body > div {
	width:800px;/*横幅*/
	margin:0 auto;/*全体を中央配置*/
}


body > div label {
    margin-bottom: 0;
    text-align: right;
    width: 145px;
	font-size: 15px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

span{/*spanは特に意味を持たないタグです。装飾用などに使用します*/

	font-size:10px;/*文字の大きさ*/
	color:#F00;/*文字の色*/

}

body > div label span {
    color: #fff;
    background: #fb3b6f;
    display: inline-block;
    padding: 2px 5px; /*角の丸め*/
    font-size: 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
	float: left;
}

.any{
	font-size:10px;/*文字の大きさ*/
	color:#3ADF00;/*文字の色*/
}

body > div label span.any {
    color: #FFF;
    background: #5858FA;
    display: inline-block;
    padding: 2px 5px; /*角の丸め*/
    font-size: 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#one{
	display: block;
	font-size: 10px;

}

textarea{
	position: relative;
	width:560px;/*横幅*/
	height:150px;/*高さ*/

}

.button{

	text-align:center;/*文字を中央寄せ*/
	padding:10px 0;/*内側への余白上下10px*/


}
